@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-pink-50: #fdf2f8;
  --color-pink-100: #fce7f3;
  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
}

@layer base {
  * {
    box-sizing: border-box;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
